<launch>

    <group ns="uav0">
        <arg name="uav_0_camera_name" default="/airsim_node/PX4_0/downwards_custom_0"/> 
        <include file="$(find utm)/launch/broadcast_tf.launch">
            <arg name ="quad_tf" value="/uav0_wrt_world"/>
            <arg name ="world_tf" value="/world_enu"/>
            <arg name="uav_name" value="uav0"/>

            <arg name ="rtagdrone" value="/tag_wrt_uav0"/>
            <arg name="camera_name" value="$(arg uav_0_camera_name)"/>
            <arg name="frame_tag_id" value="/tag_0"/>

            <arg name="id_tag" value="1"/>
            <arg name="height_from_tag" value="1"/>
            <arg name="old_target_tf" value="downwards_custom_0_optical"/>
            <!--<arg name="old_target_tf" value="$(arg old_target_tf)"/>-->
        </include>
        <node pkg="utm" type="moving_avg_main" name="moving_avg_main"/>
    </group>

    <group ns="uav1">
        <arg name="uav_1_camera_name" default="/airsim_node/PX4_1/downwards_custom_1"/> 
        <arg name="uav_name" value="uav1"/>
        <include file="$(find utm)/launch/broadcast_tf.launch">
            <arg name ="quad_tf" value="/uav1_wrt_world"/>
            <arg name ="world_tf" value="/world_enu"/>
            <arg name ="rtagdrone" value="/tag_wrt_uav1"/>
            <arg name="camera_name" value="$(arg uav_1_camera_name)"/>
            <arg name="frame_tag_id" value="/tag_0"/> <!--looking for tag 1-->
            <arg name="uav_name" value="uav1"/>
            <arg name="id_tag" value="1"/> 
            <arg name="height_from_tag" value="1"/>
            <arg name="old_target_tf" value="downwards_custom_1_optical"/>
            <!--<arg name="old_target_tf" value="$(arg old_target_tf)"/>-->
        </include>
        <node pkg="utm" type="moving_avg_main" name="moving_avg_main"/>
    </group>

    <group ns="uav2">
        <arg name="uav_2_camera_name" default="/airsim_node/PX4_2/downwards_custom_2"/> 
        <include file="$(find utm)/launch/broadcast_tf.launch">
            <arg name ="quad_tf" value="/uav2_wrt_world"/>
            <arg name ="world_tf" value="/world_enu"/>
            <arg name="uav_name" value="uav2"/>
            <arg name ="rtagdrone" value="/tag_wrt_uav2"/>
            <arg name="camera_name" value="$(arg uav_2_camera_name)"/>
            <arg name="frame_tag_id" value="/tag_0"/> <!--looking for tag 1-->
            <arg name="id_tag" value="1"/> 
            <arg name="height_from_tag" value="1"/>
            <arg name="old_target_tf" value="downwards_custom_2_optical"/>
            <!--<arg name="old_target_tf" value="$(arg old_target_tf)"/>-->
        </include>
        <node pkg="utm" type="moving_avg_main" name="moving_avg_main"/>
    </group>

    <group ns="uav3">
        <arg name="uav_3_camera_name" default="/airsim_node/PX4_3/downwards_custom_3"/> 
        <include file="$(find utm)/launch/broadcast_tf.launch">
            <arg name ="quad_tf" value="/uav3_wrt_world"/>
            <arg name ="world_tf" value="/world_enu"/>
            <arg name="uav_name" value="uav3"/>
            <arg name ="rtagdrone" value="/tag_wrt_uav3"/>
            <arg name="camera_name" value="$(arg uav_3_camera_name)"/>
            <arg name="frame_tag_id" value="/tag_0"/> <!--looking for tag 1-->
            <arg name="id_tag" value="1"/> 
            <arg name="height_from_tag" value="1"/>
            <arg name="old_target_tf" value="downwards_custom_3_optical"/>
            <!--<arg name="old_target_tf" value="$(arg old_target_tf)"/>-->
        </include>
        <node pkg="utm" type="moving_avg_main" name="moving_avg_main"/>
    </group>

    <group ns="uav4">
        <arg name="uav_4_camera_name" default="/airsim_node/PX4_4/downwards_custom_4"/> 
        <include file="$(find utm)/launch/broadcast_tf.launch">
            <arg name ="quad_tf" value="/uav4_wrt_world"/>
            <arg name ="world_tf" value="/world_enu"/>
            <arg name="uav_name" value="uav4"/>

            <arg name ="rtagdrone" value="/tag_wrt_uav4"/>
            <arg name="camera_name" value="$(arg uav_4_camera_name)"/>
            <arg name="frame_tag_id" value="/tag_0"/> <!--looking for tag 1-->

            <arg name="id_tag" value="1"/> 
            <arg name="height_from_tag" value="1"/>
            <arg name="old_target_tf" value="downwards_custom_4_optical"/>
            <!--<arg name="old_target_tf" value="$(arg old_target_tf)"/>-->
        </include>
        <node pkg="utm" type="moving_avg_main" name="moving_avg_main"/>
    </group>

    <group ns="uav5">
        <arg name="uav_5_camera_name" default="/airsim_node/PX4_5/downwards_custom_5"/> 
        <include file="$(find utm)/launch/broadcast_tf.launch">
            <arg name ="quad_tf" value="/uav5_wrt_world"/>
            <arg name ="world_tf" value="/world_enu"/>
            <arg name="uav_name" value="uav5"/>

            <arg name ="rtagdrone" value="/tag_wrt_uav5"/>
            <arg name="camera_name" value="$(arg uav_5_camera_name)"/>
            <arg name="frame_tag_id" value="/tag_0"/> <!--looking for tag 1-->

            <arg name="id_tag" value="1"/> 
            <arg name="height_from_tag" value="1"/>
            <arg name="old_target_tf" value="downwards_custom_5_optical"/>
            <!--<arg name="old_target_tf" value="$(arg old_target_tf)"/>-->
        </include>
        <node pkg="utm" type="moving_avg_main" name="moving_avg_main"/>
    </group>

    <group ns="uav6">
        <arg name="uav_6_camera_name" default="/airsim_node/PX4_6/downwards_custom_6"/> 
        <include file="$(find utm)/launch/broadcast_tf.launch">
            <arg name ="quad_tf" value="/uav6_wrt_world"/>
            <arg name ="world_tf" value="/world_enu"/>
            <arg name="uav_name" value="uav6"/>

            <arg name ="rtagdrone" value="/tag_wrt_uav6"/>
            <arg name="camera_name" value="$(arg uav_6_camera_name)"/>
            <arg name="frame_tag_id" value="/tag_0"/> <!--looking for tag 1-->

            <arg name="id_tag" value="1"/> 
            <arg name="height_from_tag" value="1"/>
            <arg name="old_target_tf" value="downwards_custom_6_optical"/>
            <!--<arg name="old_target_tf" value="$(arg old_target_tf)"/>-->
        </include>
        <node pkg="utm" type="moving_avg_main" name="moving_avg_main"/>
    </group>

</launch>