<launch>
    <!--send drones on mission-->
    <!--map your ned_x and ned_y from json file here-->
    <group ns="uav0">
        <arg name="ned_x" default="3.0"/>
        <arg name="ned_y" default="-3.0"/>
       <include file="$(find utm)/launch/offboard_launch.launch">
            <!--offsets from airsim look at json file settings-->
            <arg name="offset_x" value="$(arg ned_y)"/>
            <arg name="offset_y" value="$(arg ned_x)"/>

            <arg name="init_x" value="5.0"/>
            <arg name="init_y" value="-8.0"/>
            <arg name="init_z" value="5.0"/>
        </include> 
    </group>


    <group ns="uav1">
        <arg name="ned_x" default="-6.0"/>
        <arg name="ned_y" default="6.0"/>
       <include file="$(find utm)/launch/offboard_launch.launch">
            <!--offsets from airsim look at json file settings-->
            <arg name="offset_x" value="$(arg ned_y)"/>
            <arg name="offset_y" value="$(arg ned_x)"/>

            <!--this is where the apriltag is at, remember
            its flipped so x,y in unreal is y,x in ros-->
            <arg name="init_x" value="6"/>
            <arg name="init_y" value="0.0"/>
            <arg name="init_z" value="6.0"/>

        </include> 
    </group>

</launch>