<launch>

    <!--args for gcs bridge for communication with QGC on Windows OS-->
    <!--https://github.com/mavlink/mavros/issues/574-->
    <arg name="mavlink_bridge_url" default="udp://@172.28.80.1:14550" />

	<!--args for airsim_node.launch, set arg host to WSL2 ipaddress config-->
	<arg name="output" default="screen"/>
	<arg name="publish_clock" default="true"/>
	<arg name="is_vulkan" default="true"/>
	<arg name="host" default="172.28.80.1" />

    <!--args for camera published from airsim so we can map to apriltag-->
    <arg name="uav_0_camera_name" default="/airsim_node/PX4_0/downwards_custom_0"/>   
	<arg name="uav_0_camera_info" default="$(arg uav_0_camera_name)/camera_info"/>

	<remap from="/airsim_node/PX4_0/downwards_custom_0/Scene/camera_info" to="$(arg uav_0_camera_info)"/>

	<!--Launch Airsim Node-->
	<include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch">
		<arg name="output" value="screen"/>
		<arg name="publish_clock" value="true"/>
		<arg name="is_vulkan" value="true"/>
		<arg name="host" value="$(arg host)" />	
	</include>
    <!--https://answers.ros.org/question/353634/how-do-we-remap-all-of-the-input-and-ouput-topics-from-a-node-in-a-systematic-way/-->
    <node pkg="mavros" type="gcs_bridge" name="mavlink_bridge">
        <param name="gcs_url" value="$(arg mavlink_bridge_url)" />
    </node>

    <group ns="uav0">
        <arg name="fcu_url" default="udp://:14540@$(arg host):14557" />
        <arg name="gcs_url" default="udp://:14556@$(arg host):14551" />
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        <arg name="uav_name" value="uav0"/>
        
        <include file="$(find utm)/launch/mavros_gcs_launch.launch">
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="$(arg gcs_url)"/>
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="tgt_component" value="$(arg tgt_component)"/>
        </include>

        <include file="$(find utm)/launch/broadcast_tf.launch">
            <arg name ="quad_tf" value="/uav0_wrt_world"/>
            <arg name ="world_tf" value="/world_enu"/>
            <arg name ="rtagdrone" value="/tag_wrt_uav0"/>
            <arg name="camera_name" value="$(arg uav_0_camera_name)"/>
            
        </include>

        <arg name="ned_x" default="3.0"/>
        <arg name="ned_y" default="-3.0"/>
       <include file="$(find utm)/launch/offboard_launch.launch">
            <!--offsets from airsim look at json file settings-->
            <arg name="offset_x" value="$(arg ned_y)"/>
            <arg name="offset_y" value="$(arg ned_x)"/>

            <arg name="init_x" value="5.0"/>
            <arg name="init_y" value="-8.0"/>
            <arg name="init_z" value="5.0"/>
        </include> 
        

        <node pkg="utm" type="moving_avg_main" name="moving_avg_main"/>
    </group>


</launch>